body {
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* .navbar {
  margin-bottom: 20px;
} */

footer {
  bottom: 0;
  grid-template-rows: auto 1fr auto;
  display: flex;
}

/* home */

.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none;
}

.cover-container {
  max-width: 42em;
}

main {
  background:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('../public/Home2.png') center/cover no-repeat;
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact,
.about,
.faq,
.feedback,
.instruments {
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFEFDA;
}

.card-body {
  background: #FFEFDA;
}

section {
  background: #FB8074;
}

.about-img {
  height: 400px;
}

/* card-flip */
 
.flip-card {
  background-color: transparent;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  will-change: transform;
}

.flip-card:hover .flip-card-inner,
.flip-card.flipped .flip-card-inner { 
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0; 
  border-radius: 10px;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2; 
  transform: rotateY(0deg);
  background: #000; 
}

.flip-card-front img {
  display: block; 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  transform: rotateY(180deg); 
  z-index: 1;
  background-color: #FFEFDA;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
}

/* next part */
label{
  color: #FFEFDA;
  font-size: x-large;
}

